*{margin:0;padding:0;}
body{
	font-family:sans-serif;
}
h1,h2,h3,h4,h5,h6{
	color:black;
	text-align:center;
	text-transform:uppercase;
	font-family:arial black;
}

section{
	padding-top:50px;
	padding-bottom:50px;
	}
.container{
	width:1170px;
	margin:auto;
	overflow:hidden;
	text-align:center;

}
.content{
	margin-left:10px;
	margin-right:10px;
	margin-bottom:5px;
}
.col-70{
	width:70%;
	float:left;
	text-align:center;
	margin-bottom:5px;
}

.col-30{
	width:30%;
	float:left;
	text-align:center;
	margin-bottom:5px;
}
.col-25{
	width:25%;
	float:left;
	text-align:center;
	margin-bottom:5px;
}

.col-20{
	
	width:20%;
	float:left;
	text-align:center;
	margin-bottom:5px;
}
.col-60{
	width:60%;
	float:left;
	text-align:center;
	margin-bottom:5px;
}
.col-33{
	width:33%;
	float:left;
	text-align:center;
	margin-bottom:5px;
}
.col-40{
	width:40%;
	float:left;
	text-align:center;
	margin-bottom:5px;
}
.col-50{
	width:50%;
	float:left;
	text-align:center;
	margin-bottom:5px;
}
.col-20{
	
	width:20%;
	float:left;
	text-align:center;
	margin-bottom:5px;
}
.col-80{
	
	width:80%;
	float:left;
	text-align:center;
	margin-bottom:5px;
}

img{width:100%;}
/* -- ============== Global Starting Part =============== --*/

.About_logo {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 41px;
}
.About_logo u li{
	
	text-align:center;
}
.About_logo i {
    border: 3px solid white;
    padding: 17px;
    border-radius: 50%;
}

.First {
    margin-bottom: 124px;
    margin-top: -65px;
}
.First h1{
	color:white;
}

/* -- ============== Home Part =============== --*/
#home{
	background-image:linear-gradient(#00000029,#00000026), linear-gradient(#00000026,#00000026),url(../images/1st.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	padding-bottom:0px;
}
#home ul{
	list-style:none;
}
#home ul li{
	float:left;
}

#slider_1 {
    margin-top: 200px;
}
#slider_2 {
    margin-bottom: 70px;
}
#slider_2 p{
    color: white;
	font-size: 1.7rem;
	font-weight: 100;
	letter-spacing: 15px;
	text-transform:uppercase;
	word-spacing: 6px;
	border-bottom: 2px solid #ff0000;
    display: inline-block;
    line-height: 2.85;
	border-width: 3px;
}
#slider_2 h2{
    color: white;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 900;
	border-bottom: 2px solid #ff0000;
    display: inline-block;
    line-height: 1.85;
	border-width: 3px;
}
#slider_2 h3{
    color: white;
    font-size: 1.6rem;
    letter-spacing: 5;
    word-spacing: 4px;
	margin-top: 20px;
}
#slider_2 u{
	margin-bottom:3px;
}
#icon_1 i{
	 color:white;
}
#icon_2 i{
	font-size:5rem;
}
.col-60 ul li a {
    padding: 7px 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
    font-family: sans-serif;
}
.col-60 ul li a:hover{
    border-bottom:4px solid #ff000082;
}
.col-40 a {
    padding: 10px 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
    font-family: none;
}
.col-40 a:hover{
     border-bottom:4px solid #ff000082;
}

/* -- ============== About Me Part =============== --*/

#About{
	background-image:url('../images/5th.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	padding-bottom:0px;
}
#About .About_logo i{
	color:black;
	background:white;
}


.col-30 img {
    border: 9px solid gray;
    border-radius: 50%;
    height: auto;
}
.col-70 h3{
	color: white;
    float: left;
    margin-bottom: 43px;
    margin-left: 105px;
}
.col-70 p{
	color: #bfbfbf;
    float: left;
    margin-left: 105px;
    text-align: initial;
	    line-height: 24px;
}
#span {
    color: white;
}

.col-20 h5{
	
	color: white;
    margin-top: 120px;
    margin-bottom: 25px;
}
.col-20 .achieve{

	width:100%;
	height:10px;
	background:black;
	border-radius:5px;
	margin:10px auto;
	margin-bottom: 70px;
}
/* -- ============== Services Part =============== --*/
#services .About_logo i{
	color:#2196f3;
	background:white;
	margin-top: 24px;
}
#services{
	background-color:#2196f3;
}
#services h3{
	margin-top:25px;
	margin-bottom:25px;
	color:#888181e0;
	text-transform:uppercase;
}
#services p{
	font-size:.9rem;
	color:#888181e0;
}
#services .content{
	background-color:white;
	border-radius:5px;
	padding:55px;
}
#services .content:hover{
	background-color:#03a9f4;
	color:white;
}
#services .content:hover p{
	color:white;
}
#services .content:hover h3{
	color:white;
}
#services p{
    line-height: 29px;
    font-size: 1rem;
    text-align: inherit;
}
.col-25{
	
	width:25%;
	float:left;
	text-align:center;
	margin-bottom:5px;
}
/* -- ============== Portfolio Part =============== --*/
#section .About_logo i{
	color:white;
	background:orange;
	margin-top: 24px;
	border:none;
}
#section #middle_0{
	text-align:center;
}
#section h1{
	color:orange;
}
#section i {
    color: orange;
    border: 2px solid red;
    margin-top: 69px;
}
#middle_0{
    margin-top: -86px;
}
#middle{
	margin-bottom: 55px;
}
#middle ul{
	list-style:none;
	display: inline-flex;
}
#middle ul li {
   font-size: 1.1rem;
    margin-left: 51px;
    text-transform: uppercase;
    padding: 5px;
}
#middle ul li:hover{
    background-color:orange;
}
#middle ul li:hover a{
   color:white;
}
#middle ul li a{
	text-decoration:none;
	    color: #1717177a;
	
}
#section h3{
	margin-top:25px;
	margin-bottom:25px;
	color:#888181e0;
	text-transform:uppercase;
}
#section h5{
	font-size:.9rem;
	color:#888181e0;
}


#section .col-33 img{
    width: 360px;
    height: 500px;
}
#section .col-33 {
    margin-right: 3px;
    margin-bottom: 24px;
}
/* -- ============== Review Part =============== --*/
#review{
	background-color:#004c61;
}
#review .First{
	margin-bottom: 47px;
    margin-top: -96px;
}
#review .About_logo{
	margin-top:66px;
}
#review h1{
	color:#2cc532;
}
#review h5{
	color:white;
	margin-top:32px;
}
#review i{
	color:#004c61;
	background: white;
}
#review .content{
    padding: 36px;
}
#review .col-20 i{
	color: #2cc532;
    font-size: 4rem;
    margin-bottom: 21px;
    background: none;
}
#review .col-20:hover{
	background-color: #2cc532;

}
#review .col-20:hover h1{
	color:white;

}
#review .col-20:hover i{
	color:white;

}
/* -- ============== Testimonial Part =============== --*/
#testimonial{
	background-color:#F1C40F;
}
#testimonial .About_logo{
	margin-top: 66px;
}
#testimonial i{
	color:#ffc800e0;;
	background: white;
}
#image_li img {
    width: 70px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
}
#image_li ul{
	list-style:none;
	display:inline-flex;
	margin-top: -78px;
}
#arrow i{
    color: white;
    font-size: 3rem;
    background: none;
}
 #testimonial li {
    margin-left: 15px;
}
#testimonial .col-20{
	
	width:20%;
	float:left;
	text-align:center;
	margin-bottom:5px;
	margin-top:20px;
}
#testimonial .col-20 img{
	width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 50%;

}
#testimonial .col-80{
	
	width:80%;
	float:left;
	text-align:center;
	margin-bottom:5px;
	margin-top:20px;
}
#testimonial .col-80 p{
	margin-top: 10px;
    font-size: 1.9rem;
    color: white;
    text-align: initial;
	font-family: auto;
	word-spacing: 4px;
	margin-bottom: 17px;
}
#testimonial .col-80 h3{
    font-size: 1.7rem;
    color: white;
    text-align: initial;
	margin-bottom: 90px;
	font-family: serif;
}
/* -- ============== Blog Part =============== --*/

#blog img{
	margin-bottom:10px;
}
#blog i{
	color: white;
	background: #2cc532;
	border:1px solid white;
	border-radius:50%;
	margin-top: 25px;
}
.col-20 h1{
	color: #a09999;
    font-size: 2.5rem;
	font-family:auto;
}
.col-20 h2{
	color:#888888;
	font-family:auto;
	font-size: 1rem;
}
.col-20 h6{
	color:#888888;
	font-family:auto;
	font-size: 1.7rem;
}
.col-80 h3{
	color: #a09999;
    font-size: 1.2rem;
    text-transform: initial;
	margin-bottom: 5px;
}

.col-80 p{
	color: #888888;
    font-size: .95rem;
	text-align: justify;
	margin-bottom: 15px;
}
/* -- ============== Referances Part =============== --*/
#referances{
	background-color:#027cb7;
}
#referances .col-25 i {
    color: white;
    font-size: 3rem;
    margin-bottom: 35px;
}
#referances h5{
	color:white;
    font-size: 1.5rem;
	margin-bottom: 50px;
}
/* -- ============== Team Member Part =============== --*/
#team{
	background-color:#2D3E50;
}
#team .First h1{
	color:white;
}
#team .First i{
	color:black;
	border:1px solid white;
	border-radius:50%;
	background:white;
}
#team .col-25 h4{
	color:#d0d2d4;
	margin-top: 13px;
}

#team .col-25 h5{
	color:#d0d2d4;
	margin-top: 8px;
}

#team .col-25 ul{
	list-style:none;
}
#team .col-25 ul li{
	display:inline-flex;
}
#team .col-25 ul li a{
	text-decoration: none;
    color: white;
    margin-left: 14px;
    margin-top: 23px;
}

/* -- ============== Contact Part =============== --*/

#dady{
	background-image:url('../images/SH.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	padding-bottom:0px;
}
#contact form h1{
	color:white;
	margin-bottom: 15px;
}
#contact .First i{
    color: #ff00009e;
    border: 5px solid #ff00009e;
    background: white;
    margin-top: 24px;
}
#contact form input{
	padding: 20px 72px;
	border:2px solid #ff00009e;
	margin-left: 10px;
    margin-bottom: 20px;
}

#contact form textarea{
	padding: 57px 411px;
    border: 2px solid #ff00009e;
	margin-bottom: 20px;
}

#contact form button{
	background-color: #EE6959;
    border: none;
    color: white;
	padding:15px 35px;
}

/* -- ============== Social Part =============== --*/

#social ul{
	list-style: none;
    text-align: center;
    background-color: white;
    padding: 25px;
}
#social  ul li{
	display:inline-flex;
}
#social  ul li a{
	text-decoration: none;
    color: #ee6959;
    margin-top: 23px;
    border-radius: 50%;
    border: 5px solid #ee6959;
    padding: 18px;
    margin-left: 85px;
}

/* -- ============== Footer Part =============== --*/
#copyright h1{
	color: white;
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 15px;
}
#copyright p{
		color:white;
	    font-size: 1rem;
		margin-bottom: 30px;
}









